div.Bar {
  width: 100%;
  height: 2px;
  margin: 5px 0;
  border-radius: 1px;
}

div.Bar * {
  overflow: hidden;
  transition: 1000ms;
}

div.Bar > .contentWithoutPadding {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1px;
}

div.Bar.empty > .contentWithoutPadding {
  background: repeating-linear-gradient(135deg, #eee, #eee 2px, #0000 2px, #0000 4px);
}

div.Bar:not(.empty) > .contentWithoutPadding {
  background-color: #eee;
}

div.Bar > .contentWithoutPadding > div {
  height: 100%;
  border-radius: 1px;
  position: absolute;
}

div.Bar > .contentWithoutPadding > .primaryNumerator::before,
div.Bar > .contentWithoutPadding > .primaryNumerator::after,
div.Bar > .contentWithoutPadding > .secondaryNumerator::before,
div.Bar > .contentWithoutPadding > .secondaryNumerator::after,
div.Bar > .contentWithoutPadding > .primaryDottedNumerator::before,
div.Bar > .contentWithoutPadding > .secondaryDottedNumerator::before,
div.Bar > .contentWithoutPadding > .secondaryDottedNumerator::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1000ms;
}

div.Bar > .contentWithoutPadding > .primaryNumerator {
  background-color: #097;
}

div.Bar > .contentWithoutPadding > .primaryNumerator::before {
  background-color: #fcc;
}

div.Bar > .contentWithoutPadding > .primaryNumerator.alert::before {
  opacity: 1;
}

div.Bar > .contentWithoutPadding > .secondaryNumerator {
  background-color: #041;
}

div.Bar > .contentWithoutPadding > .secondaryNumerator::before {
  background-color: #f43;
}

div.Bar > .contentWithoutPadding > .secondaryNumerator::after {
  background-color: #902;
}

div.Bar > .contentWithoutPadding > .secondaryNumerator.alert::before {
  opacity: 1;
}

div.Bar > .contentWithoutPadding > .secondaryNumerator.alert.more::after {
  opacity: 1;
}

div.Bar > .contentWithoutPadding > .primaryDottedNumerator {
  background: repeating-linear-gradient(135deg, #097, #097 1px, #0000 1px, #0000 2px);
}

div.Bar > .contentWithoutPadding > .primaryDottedNumerator::before {
  background: repeating-linear-gradient(135deg, #fcc, #fcc 1px, #0000 1px, #0000 2px);
}

div.Bar > .contentWithoutPadding > .primaryDottedNumerator.alert::before {
  opacity: 1;
}

div.Bar > .contentWithoutPadding > .secondaryDottedNumerator {
  background: repeating-linear-gradient(135deg, #041, #041 1px, #f434 1px, #f434 2px);
}

div.Bar > .contentWithoutPadding > .secondaryDottedNumerator::before {
  background: repeating-linear-gradient(135deg, #f43, #f43 1px, #f434 1px, #f434 2px);
}

div.Bar > .contentWithoutPadding > .secondaryDottedNumerator::after {
  background: repeating-linear-gradient(135deg, #902, #902 1px, #9024 1px, #9024 2px);
}

div.Bar > .contentWithoutPadding > .secondaryDottedNumerator.alert::before {
  opacity: 1;
}

div.Bar > .contentWithoutPadding > .secondaryDottedNumerator.alert.more::after {
  opacity: 1;
}
