* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #333;
}

button {
  background-color: #eee;
  color: #333;
  border: none;
  border-radius: 3px;
  min-width: 20px;
  height: 24px;
  padding: 0 5px;
}

button:hover {
  background-color: #ccc;
}

input {
  background-color: #eee;
  color: #333;
  border: none;
  height: 24px;
  font-size: 16px;
}

select {
  background-color: #eee;
  color: #333;
  border: none;
  height: 24px;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div#root {
  max-width: 1050px;
  min-height: 100vh;
  margin: auto;
  background-color: #fff;
  padding: calc(100px + env(safe-area-inset-top)) calc(20px + env(safe-area-inset-right))
    calc(20px + env(safe-area-inset-bottom)) calc(20px + env(safe-area-inset-left));
}

h1,
h2,
h3,
h4 {
  position: sticky;
  top: 50px;
  background-color: #fff;
  padding: 1.5rem 0 1rem;
  margin: 0;
  z-index: 50;
}

@media only screen and (max-width: 750px) {
  div#root {
    padding: calc(env(safe-area-inset-top)) calc(10px + env(safe-area-inset-right))
      calc(120px + env(safe-area-inset-bottom)) calc(10px + env(safe-area-inset-left));
  }

  h1,
  h2,
  h3,
  h4 {
    top: 0;
  }
}

div.Login {
  padding-top: 100px;
}

div.Login > div {
  text-align: center;
  margin: 10px 0;
}

div.Cover {
  pointer-events: none;
  mix-blend-mode: difference;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

div.Cover.dark {
  background-color: #ccc;
}

div.Cover.light {
  background-color: #000;
}
