* {
  box-sizing: border-box;
  cursor: default;
}

*:not(input:not([type="checkbox"]):not(.readonly)) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  background-color: #eee;
  color: #333;
  border: none;
  border-radius: 3px;
  min-width: 20px;
  height: 24px;
  padding: 0 5px;
}

button:disabled {
  background-color: #fff;
  color: #ddd;
  border: #ddd solid 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button:not(:disabled),
button:not(:disabled) *,
select:not(:disabled),
select:not(:disabled) *,
a:not(:disabled),
a:not(:disabled) *,
input[type="checkbox"] {
  cursor: pointer;
}

button:not(:disabled):hover,
select:not(:disabled):hover,
a:not(:disabled):hover {
  background-color: #ddd;
}

input:not([type="checkbox"]) {
  cursor: text;
  background-color: #eee;
  color: #333;
  border: none;
  height: 24px;
  padding: 0 5px;
  outline: 0;
}

input:not([type="checkbox"]):disabled {
  background-color: #eee;
  color: #aaa;
}

input.readonly {
  background-color: inherit;
  cursor: default;
}

select {
  background-color: #eee;
  color: #333;
  border: none;
  height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

table {
  border-collapse: collapse;
}

div#root {
  min-height: 100vh;
  margin: auto;
  background-color: #fff;
}

div.LoginPage {
  padding-top: 100px;
}

div.LoginPage > div {
  text-align: center;
  margin: 10px 0;
}

div.Router {
  position: relative;
}

div.Router.wideScreen {
  display: flex;
  overflow: hidden;
  height: 100vh;
  padding-left: 80px;
}

div.Router.wideScreen > main,
div.Router.wideScreen > aside {
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}

div.Router > div {
  width: min(100vw, 950px);
  min-height: 100vh;
  background-color: #fff;
  padding: calc(50px + env(safe-area-inset-top)) env(safe-area-inset-right)
    calc(110px + env(safe-area-inset-bottom)) env(safe-area-inset-left);
}

div.Router > div.previousPage {
  z-index: 500;
}

div.Router > div.currentPage {
  position: relative;
  z-index: 510;
}

div.Router > div.nextPage {
  z-index: 520;
}

div.Router > div.nextPage,
div.Router > div.previousPage {
  position: fixed;
  top: 0;
}

div.Router > div.nextPage,
div.Router > div.currentPage {
  transition-property: left;
  transition-duration: 300ms;
}

div.Router.transitioning.forward > div.nextPage {
  left: 0;
}

div.Router:not(.transitioning.forward) > div.nextPage {
  transition-duration: 0ms;
  left: 100vw;
}

div.Router.transitioning.backward > div.currentPage {
  left: 100vw;
}

div.Router:not(.transitioning.backward) > div.currentPage {
  transition-duration: 0ms;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  .colored {
    filter: invert(100%);
  }
  .notification::after {
    filter: invert(100%);
  }
}

.notification {
  position: relative;
  display: inline-block;
}

.notification::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.rotate90deg {
  display: block;
  transform: rotate(90deg);
}

.rotate180deg {
  display: block;
  transform: rotate(180deg);
}

.rotate270deg {
  display: block;
  transform: rotate(270deg);
}

div.Properties {
  margin-top: 20px;
}

div.Properties button:disabled {
  background-color: inherit;
  color: #ccc;
  border: none;
}

div.Properties > .propertyLabel {
  font-size: 14px;
  padding: 5px;
}

div.Properties > .property {
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

div.Properties > .property:not(:last-child) {
  margin-bottom: 20px;
}

div.Properties > .property .disabled.lineThrough {
  color: #888;
  text-decoration: line-through;
}

div.Properties .row {
  padding: 14px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Properties .row button.delete {
  font-weight: 500;
  color: var(--darkRed);
}

div.Properties .row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

div.Properties .row:first-child {
  padding-top: 16px;
}

div.Properties .row:last-child {
  padding-bottom: 18px;
}

div.Properties .row span.small {
  color: #888;
  font-size: 12px;
}

div.Properties .row select {
  font-size: 14px;
}

div.Properties .row input {
  font-size: 16px;
  height: 18px;
  text-align: right;
}

div.Properties .row.keyValue span.propertyName {
  color: #888;
}

div.Properties .row > button {
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin-left: -4px;
  background-color: transparent;
}

div.Properties .row.button:hover {
  background-color: #ddd;
}

.sidePadding {
  padding-right: 10px;
  padding-left: 10px;
}

div.reorderIcon {
  position: relative;
}

div.reorderIcon > svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.reorderIcon > svg {
  position: absolute;
  left: calc(50% - 4px);
}

div.reorderIcon > svg:first-child {
  top: -6px;
}

div.reorderIcon > svg:last-child {
  top: 0px;
}

div.dragging *,
div.dragging *::before,
div.dragging *::after {
  color: #3334 !important;
  transition-duration: 0ms !important;
}

div.dragging div.Graph * {
  border-color: #8884 !important;
}

div.dragging :not(svg).colored,
div.dragging :not(svg).colored::before,
div.dragging :not(svg).colored::after {
  background: none !important;
  background-color: #3334 !important;
}

div.dragging div.Stacks div.stack {
  background-color: #8884 !important;
}
