---
version: "3.3"

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: budget
      POSTGRES_USER: budget
      POSTGRES_PASSWORD: budget_postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data

  budget:
    image: hoie/budget:latest
    environment:
      - HOST_NAME=localhost
      - ADMIN_PASSWORD=budget_admin
      - PLAID_CLIENT_ID=000000000
      - PLAID_SECRET_PRODUCTION=000000000
      - PLAID_SECRET_DEVELOPMENT=000000000
      - PLAID_SECRET_SANDBOX=000000000
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=budget
      - POSTGRES_PASSWORD=budget_postgres
      - POSTGRES_DATABASE=budget
      - POLYGON_API_KEY=000000000
    ports:
      - "3005:3005"
    links:
      - postgres
    depends_on:
      - postgres

volumes:
  postgres_data:
