div.AccountsDonut {
  padding: 0 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.AccountsDonut > div.donut {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.AccountsDonut > div.donut > div.centerLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.BalanceInfo {
  flex: 1;
  text-align: right;
  max-width: 180px;
}

div.BalanceInfo > div.Changes {
  margin-bottom: 5px;
}

div.BalanceInfo > div.label {
  font-size: 12px;
}

div.BalanceInfo > div.neutral {
  color: #888;
}
