div.BudgetBar * {
  transition: 150ms;
  overflow: hidden;
}

div.BudgetBar .statusBar {
  width: 100%;
  height: 10px;
  background-color: #222;
  padding: 3px;
  margin: 5px 0;
  border-radius: 10px;
}

div.BudgetBar .statusBar.income {
  height: 10px;
}

div.BudgetBar .statusBar .contentWithoutPadding {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

div.BudgetBar .contentWithoutPadding > div {
  transition: 1000ms;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

div.BudgetBar .contentWithoutPadding > div > div {
  transition: 1000ms;
  height: 100%;
  background-color: #b4d;
}

div.BudgetBar .statusBarWithText {
  width: 100%;
  position: relative;
}

div.BudgetBar .statusBar .unlabeledNumerator {
  position: absolute;
  top: 0;
  background: repeating-linear-gradient(135deg, #633, #633 3px, #a3c 3px, #a3c 6px);
}

div.BudgetBar .statusBar .incomeNumerator {
  position: absolute;
  top: 0;
  background: repeating-linear-gradient(90deg, #9a5, #9a5 6px, #222 6px, #222 9px);
}

div.BudgetBar .sectionInfo .statusBar {
  height: 10px;
}

div.BudgetBar .sectionInfo .statusBar .numerator {
  background-color: #538;
}

div.BudgetBar .categoryInfo .statusBar {
  height: 10px;
}

div.BudgetBar .categoryInfo .statusBar .numerator {
  background-color: #455;
}

div.BudgetBar .infoText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #bbb;
  position: relative;
}

div.BudgetBar .infoText > div > input {
  font-size: 14px;
  color: #bbb;
  width: 75px;
  text-align: right;
  border: none;
  background-color: inherit;
  outline: 0;
}

div.BudgetBar .budgetInfo,
div.BudgetBar .sectionInfo,
div.BudgetBar .categoryInfo {
  position: relative;
}

div.BudgetBar .title {
  display: flex;
  justify-content: space-between;
}

div.BudgetBar .budgetInfo > .title > input {
  font-size: 20px;
  border: none;
  background-color: inherit;
  outline: 0;
}

div.BudgetBar .sectionInfo > .title > input {
  font-size: 18px;
  border: none;
  background-color: inherit;
  outline: 0;
}

div.BudgetBar .categoryInfo > .title > input {
  border: none;
  background-color: inherit;
  outline: 0;
}

div.BudgetBar .SectionBar {
  margin-top: 10px;
  background-color: #444;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
}

div.BudgetBar .SectionBar button {
  background-color: inherit;
  color: #aaa;
  border: solid 1px #555;
}

div.BudgetBar .CategoryBar {
  margin-top: 10px;
}

div.BudgetBar .addButton {
  margin-top: 10px;
}
