div.TransactionProperties .row > .splitItem > input {
  font-size: 16px;
  height: 100%;
  width: 30%;
  flex-grow: 1;
  text-align: center;
  background-color: #fff;
}

div.SplitTransactionRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.SplitTransactionRow > * {
  width: 30%;
}

div.SplitTransactionRow > div > select {
  width: 100%;
}

div.SplitTransactionRow > .amount {
  display: flex;
  align-items: center;
}

div.SplitTransactionRow > .amount > input {
  font-size: 16px;
  background-color: #fff;
  width: calc(100% - 5px);
  text-align: left;
}
