div.TransactionRow {
  margin: 10px 0;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
}

div.TransactionRow > div {
  margin: 5px 0;
}

div.TransactionRow > .transactionInfo {
  display: flex;
  justify-content: space-between;
}

div.TransactionRow > .transactionInfo > .authorized_date {
  width: 50px;
}

div.TransactionRow > .transactionInfo > .merchant_name {
  width: calc(100% - 130px);
}

div.TransactionRow > .transactionInfo > .amount {
  width: 80px;
  text-align: right;
}

div.TransactionRow > .budgetCategory {
  display: flex;
  justify-content: space-between;
}

div.TransactionRow > .budgetCategory > select {
  margin: 0 5px;
  width: 100%;
}

div.TransactionRow > .budgetCategory > select:first-child {
  margin-left: 0;
}

div.TransactionRow > .budgetCategory > select:last-child {
  margin-right: 0;
}

div.TransactionRow .smallText {
  font-size: 12px;
  color: #bbb;
}

div.TransactionsHead {
  display: flex;
  flex-wrap: wrap;
}

div.TransactionsHead > div {
  margin: 3px;
}

div.TransactionsHead > .hiddenColumn > button {
  text-decoration: line-through;
}
