div.BudgetDetail .unsortedButton {
  padding: 0 10px;
}

div.BudgetDetail .unsortedButton > button {
  width: 100%;
}

div.BudgetDetail > div > div > .addButton {
  margin-top: 10px;
  margin-left: 10px;
}

div.SectionBar * {
  overflow: hidden;
  transition-duration: 300ms;
}

div.SectionBar .infoText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
  position: relative;
}

div.SectionBar .infoText > div > input {
  font-size: 14px;
  height: 17px;
  width: 250px;
}

div.SectionBar .sectionInfo,
div.SectionBar .categoryInfo {
  position: relative;
}

div.SectionBar .title {
  display: flex;
  justify-content: space-between;
}

div.SectionBar .title > input {
  width: 250px;
}

div.SectionBar .title > .buttons {
  width: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

div.SectionBar .sectionInfo > .title > input,
div.SectionBar .sectionInfo > .title > span {
  font-size: 18px;
}

div.SectionBar {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}

div.SectionBar .CategoryBar {
  margin-top: 10px;
}

div.SectionBar .addButton {
  margin-top: 10px;
}
