div.BudgetBar * {
  overflow: hidden;
}

div.BudgetBar .infoText {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  color: #333;
  position: relative;
}

div.BudgetBar .infoText > div > input {
  font-size: 14px;
  height: 17px;
  width: 75px;
}

div.BudgetBar .budgetInfo {
  padding: 10px;
}

div.BudgetBar .budgetInfo,
div.BudgetBar .sectionInfo,
div.BudgetBar .categoryInfo {
  position: relative;
}

div.BudgetBar .title {
  display: flex;
  justify-content: space-between;
}

div.BudgetBar .title > input {
  width: 150px;
}

div.BudgetBar .title > .buttons {
  width: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

div.BudgetBar .budgetInfo > .title > input,
div.BudgetBar .budgetInfo > .title > span {
  font-size: 20px;
}

div.BudgetBar .sectionInfo > .title > input,
div.BudgetBar .sectionInfo > .title > span {
  font-size: 18px;
}

div.BudgetBar .SectionBar {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}

div.BudgetBar .CategoryBar {
  margin-top: 10px;
}

div.BudgetBar .addButton {
  margin-top: 10px;
}

div.BudgetBar > .addButton {
  margin-left: 10px;
}

div.BudgetBar > div > div > .addButton {
  margin-left: 10px;
}
