div.BudgetDetail .unsortedButton {
  padding: 0 10px;
}

div.BudgetDetail .unsortedButton > button {
  width: 100%;
}

div.BudgetDetail > div > div > .addButton {
  margin-top: 10px;
  margin-left: 10px;
}

div.SectionBar * {
  overflow: hidden;
  transition-duration: 300ms;
}

div.SectionBar {
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
}

div.SectionBar > .children > div > .addButton {
  padding: 0 10px;
}

div.SectionBar > .children > div > div {
  margin-top: 10px;
}
