div.RadioInputs {
  width: 100%;
}

div.RadioInputs > .option {
  height: 44px;
}

div.RadioInputs > .option * {
  cursor: pointer;
}

div.RadioInputs > .option > label {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.RadioInputs > .option > .checkMark {
  margin: 0 10px;
  color: var(--green);
}

div.RadioInputs.disabled > .option > .checkMark {
  color: #555;
}
