div.BudgetsPage .placeholder {
  padding: 10px;
  display: flex;
  align-items: center;
}

div.BudgetsPage > h2 {
  margin: 0;
  padding: 16px 10px 10px;
  position: sticky;
  top: 50px;
  background-color: #fffe;
  z-index: 110;
}

div.BudgetsPage > div.budgetsTable > .addButton {
  margin-top: 10px;
  margin-left: 10px;
}
