div.DashboardPage > h2 {
  margin: 0;
  padding: 16px 10px 10px;
  position: sticky;
  top: 50px;
  background-color: #fffe;
  z-index: 110;
}

div.wideScreen div.DashboardPage > h2 {
  top: 0;
}

div.DashboardPage > button {
  width: calc(100% - 20px);
  margin: 0 10px;
}

div.DashboardPage > div {
  margin: 10px 0 30px;
  padding: 0 10px;
}
