div.LabeledBar {
  padding: 10px 10px;
  position: relative;
}

div.LabeledBar > .title {
  display: flex;
  justify-content: space-between;
  height: 24px;
}

div.LabeledBar > .title > span {
  font-size: 20px;
}

div.LabeledBar > .statusBarWithText > .infoText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  color: #333;
  position: relative;
}

div.LabeledBar > .statusBarWithText > .infoText > div {
  text-align: right;
}

div.EditButton {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

div.EditButton > button {
  background-color: inherit;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  margin: none;
}

div.EditButton.big > button > span {
  font-size: 22px;
  position: absolute;
  left: 8px;
  bottom: -2px;
}

div.EditButton.small > button > span {
  font-size: 16px;
  position: absolute;
  left: 8px;
  bottom: 3px;
}
