div.LabeledBar {
  padding: 10px 10px;
  position: relative;
}

div.LabeledBar.dragging *,
div.LabeledBar.dragging *::before,
div.LabeledBar.dragging *::after {
  color: #ccc;
  background-color: #ccc;
  transition-duration: 0ms !important;
  background: none !important;
}

div.LabeledBar > .title {
  display: flex;
  justify-content: space-between;
  height: 24px;
}

div.LabeledBar > .title > span {
  font-size: 20px;
}

div.LabeledBar > .statusBarWithText > .infoText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  color: #333;
  position: relative;
}

div.LabeledBar > .statusBarWithText > .infoText > div {
  text-align: right;
}

div.EditButton {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  touch-action: none;
}

div.EditButton > button {
  background-color: inherit;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  margin: none;
}

div.EditButton > button > span {
  font-size: 24px;
  position: relative;
}
