div.CapacitiesInput {
  font-size: 14px;
  color: #333;
  position: relative;
}

div.CapacitiesInput > div:not(:last-child) {
  margin-bottom: 5px;
}

div.CapacitiesInput > div > table {
  width: 100%;
}

div.CapacitiesInput > div > table > tbody > tr > td {
  padding: 3px 0;
  height: 30px;
}

div.CapacitiesInput input {
  font-size: 14px;
  height: 100%;
  width: 100px;
}

div.CapacitiesInput > div > table > tbody > tr.capacityRow {
  padding: 3px 0;
}

div.CapacitiesInput > div > table > tbody > tr.capacityRow > td:last-child {
  text-align: right;
}

div.CapacitiesInput > div > table > tbody > tr.capacityRow > td:last-child > button {
  margin-right: -2px;
}
