div.Bar {
  width: 100%;
  height: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

div.Bar > .contentWithoutPadding {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
}

div.Bar.empty > .contentWithoutPadding {
  background: repeating-linear-gradient(135deg, #eee, #eee 4px, #0000 4px, #0000 8px);
}

div.Bar:not(.empty) > .contentWithoutPadding {
  background-color: #eee;
}

div.Bar > .contentWithoutPadding > div {
  transition: 1000ms;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

div.Bar > .contentWithoutPadding > .numerator:not(.alert) {
  background-color: #097;
}

div.Bar > .contentWithoutPadding > .numerator.alert {
  background-color: #f43;
}

div.Bar > .contentWithoutPadding > .numerator.alert.more {
  background-color: #902;
}

div.Bar > .contentWithoutPadding > .unlabeledNumerator:not(.alert) {
  background: repeating-linear-gradient(135deg, #097, #097 2px, #0000 2px, #0000 4px);
}

div.Bar > .contentWithoutPadding > .unlabeledNumerator.alert {
  background: repeating-linear-gradient(135deg, #f43, #f43 2px, #f434 2px, #f434 4px);
}

div.Bar > .contentWithoutPadding > .unlabeledNumerator.alert.more {
  background: repeating-linear-gradient(135deg, #902, #902 2px, #9024 2px, #9024 4px);
}

div.Bar > .contentWithoutPadding > .overflowFiller {
  background-color: #fcc;
}
