div.Graph {
  width: 100%;
  height: 100px;
  position: relative;
}

div.Graph > div {
  position: absolute;
  top: 0;
  left: 0;
}

div.Graph > .Grid {
  position: relative;
  width: 100%;
  height: 100%;
}

div.Graph > .Grid > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 5px;
  top: 0;
  left: 0;
}

div.Graph > .Grid > .horizontal {
  flex-direction: column;
}

div.Graph > .Grid > .horizontal > div {
  border-top: 0.5px solid #ccc;
}

div.Graph > .Grid > .horizontal.right > div {
  text-align: right;
}

div.Graph > .Grid > .vertical {
  flex-direction: row;
}

div.Graph > .Grid > .vertical > div {
  border-left: 0.5px solid #ccc;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  text-align: right;
}

div.Graph > .Grid > .vertical.bottom > div {
  align-items: flex-end;
}

div.Graph > .Grid > div > div {
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: #888;
}

div.Graph > .Grid > div > div:first-child {
  border-top: none;
  border-left: none;
}
