div.ProjectionChartRow > h3.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.ProjectionChartRow > .title button {
  background-color: inherit;
  width: 32px;
  height: 32px;
}

div.ProjectionChartRow > table {
  margin-top: 10px;
  text-align: right;
}

div.ProjectionChartRow > table tr.spacer {
  height: 6px;
}

div.ProjectionChartRow > table div.label {
  width: 5px;
  height: 15px;
}
