div.AccountsPage {
  position: relative;
}

div.AccountsPage > div.AccountsDonut {
  background-color: var(--bgOverlay);
  z-index: 100;
}

div.AccountsPage:not(.wideScreen) > div.AccountsDonut {
  width: 100%;
}

div.AccountsPage.wideScreen > div.AccountsDonut {
  top: 54px;
  position: sticky;
}
