div.AccountsPage > h2 {
  margin: 0;
  padding: 16px 10px 10px;
  position: sticky;
  top: 50px;
  background-color: #fffe;
  z-index: 110;
}

div.wideScreen div.AccountsPage > h2 {
  top: 0;
}

div.AccountsPage > div.AccountsDonut {
  position: sticky;
  top: 104px;
  background-color: #fffe;
  z-index: 100;
}
