div.AccountsPage {
  position: relative;
}

div.AccountsPage > h2 {
  margin: 0;
  padding: 16px 10px 10px;
  position: sticky;
  top: 50px;
  background-color: #fffe;
  z-index: 110;
}

div.wideScreen div.AccountsPage > h2 {
  top: 0;
}

div.AccountsPage > div.AccountsDonut {
  background-color: #fffe;
  z-index: 100;
}

div.AccountsPage:not(.wideScreen) > div.AccountsDonut {
  width: 100%;
}

div.AccountsPage.wideScreen > div.AccountsDonut {
  top: 54px;
  position: sticky;
}
