div.TransactionsPage > h2,
div.TransactionsPage > h3,
div.TransactionsPage .TransactionsHead {
  position: sticky;
  background-color: #fffe;
  margin: 0;
}

div.TransactionsPage > h2 {
  top: 50px;
  padding: 16px 10px 0;
  z-index: 110;
}

div.TransactionsPage > h3 {
  top: 95px;
  padding: 10px;
}

div.TransactionsHead {
  padding: 10px;
  z-index: 109;
}
