div.Properties {
  margin-top: 10px;
}

div.Properties > .property {
  margin-top: 10px;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
}

div.Properties .row {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Properties .row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

div.Properties .row:first-child {
  padding-top: 5px;
}

div.Properties .row:last-child {
  padding-bottom: 5px;
}

label.ToggleInput > div.switch {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #eee;
  border-radius: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: #ddd 2px solid;
  font-size: 12px;
}

label.ToggleInput > div.switch * {
  cursor: pointer;
}

label.ToggleInput > div.switch > div.background {
  height: 100%;
  width: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
}

label.ToggleInput:not(.checked) > div.switch > div.background {
  background-color: #0000;
}

label.ToggleInput.checked > div.switch > div.background {
  background-color: var(--green);
}

label.ToggleInput > div.switch > div.background:before {
  position: absolute;
  border-radius: 12.5px;
  content: "";
  height: 16px;
  width: 25px;
  left: 2px;
  bottom: 2px;
  background-color: #888;
  -webkit-transition: 300ms;
  transition: 300ms;
}

label.ToggleInput.checked > div.switch > div.background:before {
  left: 19px;
  background-color: #fff;
}

div.RadioInputs {
  width: 100%;
}

div.RadioInputs > .option {
  height: 44px;
}

div.RadioInputs > .option * {
  cursor: pointer;
}

div.RadioInputs > .option > label {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.RadioInputs > .option > .checkMark {
  margin: 0 10px;
  color: var(--green);
}
