div.Header * {
  white-space: nowrap;
  font-size: 14px;
}

div.Header select,
div.Header button {
  text-align: center;
}

div.Header select:not(:hover),
div.Header button:not(:hover) {
  background-color: inherit;
}

div.Header select {
  text-decoration: underline;
}

div.Header select > option {
  text-align: center;
}

div.Header > .viewController {
  z-index: 800;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #eee;
  margin: auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Header.wideScreen > .viewController {
  padding-left: 80px;
}

div.Header > .viewController > .centerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Header > .viewController > .centerBox,
div.Header > .navigators > .centerBox {
  margin: 0 auto;
  width: 100%;
}

div.Header > .viewController > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Header > .viewController > div > .backButton {
  width: 25px;
}

div.Header > .viewController > div > .backButton > button {
  font-size: 20px;
}

div.Header > .viewController select.intervalSelect {
  width: auto;
  max-width: 130px;
}

div.Header > .viewController > div > .hamburger {
  width: 25px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Header > .viewController > div > .hamburger > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Header:not(.wideScreen) > .navigators {
  z-index: 800;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -20px 20px #fff;
  bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  width: 100%;
  padding: 0 10px;
}

div.Header.wideScreen > .navigators {
  z-index: 800;
  position: fixed;
  top: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #eee;
  width: 80px;
  height: 100%;
  padding-left: 5px;
}

div.Header.wideScreen > .navigators > .centerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

div.Header > .navigators > .centerBox {
  display: flex;
  justify-content: space-evenly;
}

div.Header:not(.wideScreen) > .navigators > div > a {
  flex: 1;
  padding: 5px 10px 15px;
  height: 45px;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.Header.wideScreen > .navigators > div > a {
  flex: 1;
  padding: 10px 15px 10px 10px;
  height: 45px;
  text-align: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 10px;
}

div.Header > .navigators > div > a.selected {
  background-color: #fff;
}

div.Header > .navigators > div > a > * {
  display: block;
  width: 100%;
}

div.Header > .navigators > div > a > span {
  margin-top: 2px;
  font-size: 9px;
}
