div.Header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

div.Header > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}

div.Header select {
  max-width: 100px;
}

div.Header > .viewController {
  margin-bottom: 10px;
}

@media only screen and (max-width: 750px) {
  div.Header {
    top: auto;
    bottom: env(safe-area-inset-bottom);
  }
}
