div.AccountProperties .property > .row > .amount {
  display: flex;
  align-items: center;
}

div.AccountProperties .property > .row > .amount > input {
  font-size: 16px;
  width: calc(100% - 5px);
  text-align: right;
}

div.AccountProperties .property > .row > .amount > input:disabled {
  color: inherit;
}
