div.Configuration {
  margin-top: 20px;
}

div.Configuration button.delete {
  font-weight: 500;
  color: var(--darkRed);
}

div.Configuration .row > .connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
