div.AccountsTable > .rows {
  margin-bottom: 20px;
}

div.AccountRow {
  padding: 10px 10px;
}

div.AccountRow > div {
  margin: 10px 0;
}

div.AccountRow > div.AccountTitle {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.AccountRow > div.AccountTitle > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.AccountRow > div.AccountTitle > span:first-child {
  width: 60%;
}

div.AccountRow > div.AccountTitle > span:last-child {
  width: 40%;
  text-align: right;
}

div.Balance {
  font-size: 14px;
}

div.Balance > div {
  margin-bottom: 5px;
}

div.Balance > div > span:last-child {
  margin-left: 6px;
  font-size: 12px;
}

div.AccountsHead {
  display: flex;
  flex-wrap: wrap;
}

div.AccountsHead > div {
  margin: 3px;
}

div.AccountsTable > div > button {
  margin-left: 10px;
}

div.AccountsTable .placeholder {
  padding: 10px;
  display: flex;
  align-items: center;
}

div.AccountsTable > .sectionTitle {
  margin-left: 10px;
  margin-top: 20px;
}
