div.AccountRow {
  padding: 10px 10px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

div.AccountRow.threeChildren > div.accountTitle {
  width: calc(100% - 170px);
}

div.AccountRow.twoChildren > div.accountTitle {
  width: 50%;
}

div.AccountRow.threeChildren > div.accountTitle {
  display: flex;
  align-items: top;
}

div.AccountRow > div.accountTitle > div.colorTag {
  margin-right: 5px;
  width: 5px;
  height: 38px;
}

div.AccountRow > div.accountTitle > div.textTag {
  width: calc(100% - 10px);
}

div.AccountRow > div.accountTitle > div.textTag > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.AccountRow > div.accountTitle > div.textTag > div:nth-child(2) {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

div.AccountRow > div.graphContainer {
  width: 80px;
}

div.Balance {
  text-align: right;
}

div.AccountRow.threeChildren > div.Balance {
  width: 90px;
}

div.AccountRow.twoChildren > div.Balance {
  width: 50%;
}

div.Balance > div.Changes {
  font-size: 12px;
}

div.Changes.neutral {
  color: #888;
}

div.Changes.positive {
  color: #097;
}

div.Changes.negative {
  color: #f43;
}

div.Balance.credit > div > span:last-child {
  margin-left: 6px;
  font-size: 12px;
}

div.Balance.credit > div:last-child {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

div.Balance.credit > div:last-child > span:last-child {
  margin-left: 4px;
  font-size: 10px;
}

div.AccountsHead {
  display: flex;
  flex-wrap: wrap;
}

div.AccountsHead > div {
  margin: 3px;
}

div.AccountsTable > div > button {
  margin-top: 10px;
  margin-left: 10px;
}

div.AccountsTable .placeholder {
  padding: 10px;
  display: flex;
  align-items: center;
}

div.AccountsTable > .sectionTitle {
  margin-left: 10px;
  margin-top: 20px;
}
