div.AccountsTable > .rows {
  margin-bottom: 20px;
}

div.AccountRow {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}

div.AccountRow > div {
  margin: 10px 0;
}

div.AccountRow > div > input {
  font-size: 14px;
  width: 100%;
}

div.AccountRow > .budgetAction {
  display: flex;
  justify-content: space-between;
}

div.AccountRow > .budgetAction > .action {
  display: flex;
  justify-content: flex-end;
}

div.AccountRow > .budgetAction > .action > button {
  margin: 0 3px;
}

div.Balance > div {
  margin-bottom: 5px;
}

div.Balance > div > span:last-child {
  margin-left: 10px;
  font-size: 14px;
}

div.AccountsHead {
  display: flex;
  flex-wrap: wrap;
}

div.AccountsHead > div {
  margin: 3px;
}

div.AccountsTable > div > button {
  margin-left: 10px;
}

div.AccountsTable .placeholder {
  padding: 10px;
  display: flex;
  align-items: center;
}
