div.BudgetDetail .unsortedButton {
  margin-bottom: 10px;
}

div.BudgetDetail .unsortedButton > button {
  width: 100%;
}

div.BudgetDetail .addButton {
  margin: 10px 10px;
}

div.SectionBar {
  padding: 10px 0px;
  background-color: #fbfbfb;
  margin-top: 10px;
}

div.SectionBar > .openLabel {
  padding: 10px 10px 5px;
}

div.SectionBar > .openLabel > span {
  height: 24px;
  font-size: 15px;
}

div.SectionBar > .children {
  overflow: hidden;
}

div.SectionBar > .children.transition {
  transition-duration: 300ms;
}

div.BudgetDetail > div.sidePadding {
  padding-right: 10px;
  padding-left: 10px;
}
