div.BudgetDetail .unsortedButton {
  margin-bottom: 10px;
}

div.BudgetDetail .unsortedButton > button {
  width: 100%;
}

div.BudgetDetail .addButton {
  margin: 10px 10px;
}

div.SectionBar {
  padding: 10px 0px;
}

div.SectionBar > .children {
  transition-duration: 300ms;
  overflow: hidden;
}

div.BudgetDetail > div.sidePadding {
  padding-right: 10px;
  padding-left: 10px;
}
