div.BudgetDetail .unsortedButton {
  padding: 0 10px;
  margin-bottom: 10px;
}

div.BudgetDetail .unsortedButton > button {
  width: 100%;
}

div.BudgetDetail .addButton {
  margin: 10px 10px;
}

div.SectionBar {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
